body {
    font-family: Courier New,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: #e20000; /* El color del fondo de la p치gina web */
    color: #0dbdf3; /* El color del texto*/ 
}
h1 {
    color: #b8eb00; /* El color de la cabecera */
    font-size: 24px; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
}